.meals-summary {
  width: 40%;
  height: 15 rem;
  color: white;
  text-align: center;
  background-color: #383838;
  padding: 1em;
  border-radius: 10px;
  /* display: flex; */
  align-items: center;
  margin: auto auto;
  margin-top: -10rem;
  position: relative;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.meals-summary h2 {
  font-size: 2rem;
  margin-top: 0;
}
